<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>

<p> 
  I hope that you have as much fun using this site
	as I have had in creating it.
</p>

<p> 
  I sincerely look forward to hearing from you.
</p>

<p> My email address is milton@calnek.com.  </p>
<p> My phone is +1 306 581 5046.  </p>

